@import "src/style/old-payments/old-payments-button";

.new-page {
    width: 100%;
    background-color: #3a8bb8;
    height: 150px;
    border-radius: 58px 58px 0px 0px;
    -moz-border-radius: 58px 58px 0px 0px;
    -webkit-border-radius: 58px 58px 0px 0px;

    &>*{
        height: 150px;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 2px solid #fff;
        margin: 0 30px;

        svg {
            max-height: 70px;
            height: 60px;
            width: auto;
        }
    }

    .text {
        color: #fff;
        padding: 0;

        .thin {
            font-weight: lighter;
            line-height: 170%;
        }

        .bold {
            font-weight: bold;
        }

        .fa-icon {
            font-size: 2em;
            margin-bottom: 10px;
        }
    }
}