.opportunities .slick-slider {
    width: 100%;
    height: 350px;

    .slick-prev {
        left: -15px;
         &:before {
            color: #fff;
         }
    }

    .slick-next {
        right: -15px;
         &:before {
            color: #53a1c5;
         }
    }
}

.opportunities .slider {
    max-width: 70%;
    position: relative;

    &>.row {
        position: relative;
        z-index: 10;
        width: 100%;
        height: 400px;

        .opp-slider {
            width: 100%;
            padding: 30px;

            .slider-item {
                height: 350px;
                padding: 15px;

                .slider-index {
                    width: 100%;
                    height: 320px;
                    background: #fff;
                    display: flex;
                    flex-direction: column;
                    border-radius: 15px;
                    -webkit-box-shadow: 0px 0px 8px 3px rgba(177,171,175,0.5);
                    -moz-box-shadow: 0px 0px 8px 3px rgba(177,171,175,0.5);
                    box-shadow: 0px 0px 8px 3px rgba(177,171,175,0.5);
                }

                .descraption {
                    width: 100%;
                    min-height: 70px;
                    max-height: 70px;
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                    padding: 15px;
                    font-size: 18pt;
                    color: #9e2825;
                    font-weight: bold;
                    font-style: italic;
                    line-height: 100%;
                    border-bottom: 2px solid #f5f5f5;
                    margin-bottom: 10px;

                    span {
                        display: flex;
                        width: 55px;
                        height: 55px;
                        flex-direction: column;
                        flex-wrap: wrap;
                        justify-content: center;
                        font-weight: normal;
                        font-size: 10pt;
                        background: #ab1524;
                        font-style: normal;
                        color: #fff;
                        padding: 0;
                        margin: 0;
                        align-items: center;

                        b {
                            font-weight: bold;
                            font-size: 15pt;
                        }
                    }
                }

                .slide-img {
                    width: 100%;
                    min-height: 170px;
                    max-height: inherit;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 15px;
                    position: relative;
                    flex-grow: 1;
                    padding-bottom: 55px;

                    .img-desc {
                        position: absolute;
                        bottom: 0;
                        padding: 0 20px;

                        .ttl {
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-end;
                            border-bottom: 1px solid #2d2d2d;
                            padding-bottom: 5px;

                            .ttl {
                                font-size: 15pt;
                                font-weight: bold;
                                border: none;
                                padding: 0;
                            }

                            .cargo {
                                width: 60px;
                                border: 1px solid #737373;
                                border-radius: 15px;
                                padding: 5px;
                                font-size: 8pt;
                                text-align: center;
                                background: rgba(0,0,0,.7);
                                color: #fff;
                            }
                        }

                        .desc {
                            font-size: 9pt;
                            font-weight: 500;
                        }
                    }
                
                    img {
                        max-height: 160px;
                    }
                }

                .basket {
                    width: 100%;
                    max-height: 50px;
                    min-height: 50px;
                    font-size: 12pt;
                    font-weight: bold;
                    color: #4f262a;
                    display: flex;
                    padding-left: 20px;
                    padding-right: 20px;
                    justify-content: space-between;
                    align-items: center;
                    background: #f5f5f5;
                    border-radius: 0px 0px 15px 15px;
                    margin-top: 7px;
                    cursor: pointer;
                    overflow: hidden;

                    &:hover {
                        text-decoration: none;

                        span {
                            animation: basketMove infinite;
                            animation-duration: 1s;
                        }
                    }

                    span {
                        position: relative;
                        display: flex;
                        width: 50px;
                        height: 50px;
                        align-items: center;
                        justify-content: center;

                        svg {
                            fill: #4f262a;
                            max-height: 40px;
                            min-width: 40px;
                        }
                    }
                }

                &:focus {
                    outline: 0;
                }
            }

            .button {
                position: absolute;
            }
        }
    }
}