@import "src/style/product-listing/banner";
@import "src/style/product-listing/slider";
@import "src/style/product-listing/brand-logos-slider";

.popular-products {
    height: 315px;
    position: relative;
    margin-bottom: 150px;
    background: transparent;

    .title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3em;
        color: #53a1c5;

        &:before {
            content: "";
            flex: 1;
            height: 2px;
            background: #53a1c5;
            margin-right: 15px;
        }

        &:after {
            content: "";
            flex: 1;
            height: 2px;
            background: #53a1c5;
            margin-left: 15px;
        }
    }
}