.footer-certificate {
	display: flex;
	
	.rapidssl {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		width: 20%;
		margin: 0 15px;
		justify-content: center;
		
		.rapidssl-logo {
			position: relative;
			display: flex;
			z-index: 10;
			margin-bottom: 2px;
			
			svg {
				display: flex;
				width: 100px;
			}
		}
		
		.slogan {
			display: flex;
			font-size: 11px;
			font-weight: 300;
			color: $white;
		}
		
	}
	
	.tc-ministry-of-customs {
		display: flex;
		width: 50%;
		margin: 0 15px;
		justify-content: center;
		align-items: center;
		
		.tc-ministry-of-customs-logo {
			position: relative;
			display: flex;
			margin-bottom: 2px;
			
			svg {
				display: flex;
				width: 52px;
			}
		}
		
		.slogan {
			display: flex;
			font-size: 14px;
			font-weight: 300;
			color: $white;
			margin-left:15px;
		}
		
	}
	
}