/* @import 'footer-certificate';
@import 'footer-contact';
@import 'footer-logo';
@import 'footer-menu';
@import 'footer-newsletter'; */

/* .footer {
  background-color: $custom-blue;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;

  .bottom {
    height: 70px;
  }
} */

/* @media screen and (min-width: 1680px) and (max-width: 1920px) {
	.big-nav-menu .nav-list li {
	  padding: 0 2.5%;
	}
  }
  
  @media screen and (min-width: 1366px) and (max-width: 1679px) {
	.big-nav-menu .nav-list li {
	  padding: 0 1.6%;
	}
  } */
/* @media screen and (min-width: 1290px) and (max-width: 1680px) {
  .footer-menu .list-menu {
    width: 25%;
  }
  .footer-menu ul li {
    color: #fff;
    line-height: 25px;
    cursor: pointer;
  }
  .footer-menu ul li a {
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
  }
  .footer-newsletter .frame .label {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1289px) {
  .footer-newsletter .frame {
    width: 100%;
  }
  .footer-menu .list-menu {
    width: 25%;
  }
  .footer-menu ul li {
    color: #fff;
    line-height: 20px;
    cursor: pointer;
  }
  .footer-menu ul li a {
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
  }
  .footer-newsletter .frame .label {
    width: 100%;
  }
} */

.footer-wrapper {
  display: flex;
  flex-direction: column;
  .footer-top-wrapper {
    display: flex;
    background: #53a1c5;
    height: 300px;
    color: white;
    flex-direction: row;
    .footer-left {
      display: flex;
      flex-direction: row;
      align-self: center;
      .footer-contact-wrapper {
        .footer-logo {
          padding: 0px 35px 10px 35px;
          border-bottom: 1px solid white;
          margin-bottom: 20px;
        }
        .footer-contact-info-wrapper {
          .footer-contact-info-address {
            padding-inline-start: 0px;
            white-space: nowrap;
            li {
              display: flex;
              flex-direction: row;
              .footer-contact-info-icon {
                margin-right: 10px;
                min-width: 15px;
                fill: white;
              }
            }
          }
        }
      }
      .footer-mail-info-wrapper {
        margin-left: 25px;
        .footer-mail-info-par {
          margin-top: 50px;
          margin-bottom: 50px;
          padding: 0px 45px 0px 45px;
        }
        .footer-mail-input-wrapper {
          border-radius: 30px;
          border: 1px solid white;
          height: 40px;
          display: flex;
          margin-left: 30px;
          padding: 0px;
          .footer-mail-input {
            border: none;
            background: transparent;
            color: white;
            &::placeholder {
              color: white;
            }
            &:focus {
              border: none;
            }
          }
          .footer-mail-input-button {
            background: white;
            border-radius: 30px;
            color: #53a1c5;
            justify-content: center;
            display: flex;
          }
        }
      }
    }
    .footer-right {
      display: flex;
      margin-top: 70px;
      padding: 0px 0px 0px 100px;
      white-space: nowrap;
      ul {
        list-style: none;
        line-height: 35px;
        padding-inline-start: 0px;
        li {
          a {
            color: white;
          }
        }
      }
    }
  }
  .footer-bottom-wrapper {
    background: #60646a;
    height: 70px;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 0px 15px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1289px) {
  .footer-mail-info-par {
    margin-bottom: 0px !important;
    padding: 0px !important;
  }
  .footer-mail-input-wrapper {
    margin-left: 0px !important;
  }
  .footer-right {
    margin-left: 0px !important;
    padding: 0px 15px 0px 0px!important;
  }
}
