.choose-company-button {
  background: #3a8bb8;
  border: none;
  outline: none;
  padding: 10px 35px 10px 35px;
  border-radius: 10px;
  margin: 3px 0px 3px 0px;
  &:focus {
    outline: none;
  }
}
