.personal-data-use-wrapper {
    margin-top: 30px;
    .personal-data-use-title {
      background: #539fc4;
      color: white;
      padding: 15px;
      border-radius: 20px 20px 0px 0px;
      margin: 0px 0px 5px 0px;
      letter-spacing: 0.15rem;
    }
    .personal-data-use-content {
      font-size: 20px;
      padding: 30px 30px 30px 30px;
      background: #e8e8e8;
      .contract-par{
        font-size: 20px;
      }
    }
  }
  