.search-wrapper {
  display: flex;
  margin: 0 0 15px 0;
  padding: 0;
  .search-bar {
    display: flex;
    align-items: center;
    max-height: 200px;
    overflow: hidden;
    padding: 15px;
    border-right: 15px solid #fff;
    background: #eceff4;
    .search-tabs-wrapper {
      padding: 0;
      .search-tabs {
        display: flex;
        flex-direction: column;
        .search-input-wrapper {
          display: flex;    
        .search-input-box {
          background: white;
          height: 50px;
        }
      }
        .search-tab-icon-wrapper {
          display: flex;
          align-items: center;
          .search-tab-icon {
            padding: 10px;
            margin: 0 5px 0 0;
            &.red {
              background: #d20519;
            }
            &.grey {
              background: #6c757d;
            }
            svg {
              width: 25px;
              fill: white;
            }
          }
        }
      }
      .search-settings-wrapper{
        display: flex;
      }
    }
  }
}

/* .search-bar {
  border: 1px solid #a7a8aa;
  height: 40px;
  border-radius: 50px;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: space-between;
  .search-box {
    display: flex;
    align-items: center;
    .searchbar-icon {
      width: 25px;
      margin: 10px;
      fill: #8c8e90;
    }
  }
  .search-column {
    padding-top: 30px;
  }

  .search-input {
    min-width: 150px;
    max-width: 300px;
    width: 300px;
    height: auto;
    margin-left: 0px;

    * {
      border: none !important;
      font-size: 14px;
    }
  }
  .search-selectbox {
    min-width: 150px;
    max-width: 200px;
    height: auto;
    margin-left: 20px;
    background: #e8e8e8;
    color: #fff;
    height: 30px;
    border-radius: 50px;
    * {
      border: none !important;
      font-size: 14px;
    }
    .search-selectbox-input {
      .MuiInputBase-root {
        padding: 3px;
      }
    }
  }

  .search-input.search-search {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
      box-shadow: 0 0 0 30px white inset !important;
      border-radius: 30px;
    }

    * {
      font-size: 16px;
    }
  }
  .search-control-checkbox {
    margin-left: 40px;
    display: flex;
  }
  .search-check {
    width: auto;
    margin: 0;
    white-space: nowrap;
    .MuiCheckbox-colorPrimary.Mui-checked {
      color: #539fc4;
    }
    .MuiTypography-body1 {
      font-size: 14px;
      color: #939393;
    }
  }
  .search-control-selectbox {
    margin-left: 40px;
    display: flex;
  }
  .btn:focus {
    outline: 0 !important;
    background: none;
    box-shadow: none;
  }

  .search-input {
    border: none;

    &:focus {
      border-color: transparent;
      box-shadow: none;
    }
  }

  .search-btn {
    border-radius: 0px;
    width: auto;
    color: white;
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    height: 40px;
    align-items: center;
    font-size: 14px;
    margin-right: 0px;
    margin-left: 0px;

    &:hover {
      background: #60636a;
      color: #fff;
    }

    &.clear-button {
      border: none;
      background: #60646a;
    }
    &.search-button {
      background: #539fc4;
    }
  }
  .campaign-messages {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;

    .toggle-categories {
      color: #9f9f9f;
      margin-left: 30px;
      align-self: end;
      margin: 0 30px 0 15px;
      display: flex;
      flex-wrap: nowrap;
      align-content: center;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .search-bar {
    padding: 0;
    .search-input {
      min-width: unset;
      width: 130px;
    }
    .search-check {
      padding: 0px;
      margin-right: 5px;
      * {
        padding: 0px;
      }
    }
    .search-control-selectbox {
      margin: 0px;
      .search-selectbox {
        margin-left: 10px;
        min-width: 120px;
        max-width: 130px;
      }
    }
    .search-control-checkbox {
      margin-left: 5px;
    }
    .search-btn {
      padding-left: 10px;
      padding-right: 10px;
      margin-right: 0px;
      margin-left: 0px;
    }
    .campaign-messages {
      display: none;
    }

  }
}

@media screen and (min-width: 1441px) and (max-width: 1500px) {
  .search-bar {
    .campaign-messages {
      display: none;
    }
  }
}
 */
