.catalog-icon{
    margin-top: 0.1rem;
    font-size: 0.8rem;
}

.catalog-input{
    border: none;
    border-color: transparent;
}

.catalog-input-div{
    border-radius: 20px;
    border: 1px solid #3a8bb8;
    font-size: 7pt;
    padding: 10px 3px;
    margin: 0 5px 0 0;
    cursor: pointer;
    white-space: nowrap;
}


